@font-face {
  font-family: "JosefinSlab";
  font-weight: normal;
  src: url('../fonts/JosefinSlab-Regular.ttf');
}

@font-face {
  font-family: "JosefinSlab";
  font-weight: bold;
  src: url('../fonts/JosefinSlab-SemiBold.ttf');
}

@font-face {
  font-family: "OpenSans";
  font-weight: normal;
  src: url('../fonts/OpenSans-Light.ttf');
}
