@media screen and (min-width: 769px) {

  body {
    margin: auto;
    max-width: 1600px;
  }

  section {
    .landscape {
      width: (462 / 960) * 100%;
    }
    .portrait {
      width: (213 / 960) * 100%;
    }
  }

}
