@media screen and (min-width: 961px) {

  header {
    nav {
      width: ((224 / 1280) + (40 / 1280)) * 100%;
    }
  }

  section {
    div {
      margin-bottom: (40 / 1280) * 100%;
      margin-right: (40 / 1280) * 100%;
    }
    .landscape {
      width: (488 / 1280) * 100%;
    }
    .portrait {
      width: (224 / 1280) * 100%;
    }
  }
}
