body {
  background: $white;
}

header {
  position: relative;
  &>i {
    padding: 0 5%;
    text-align: center;
    width: 15%;
  }
  .fa {
    display: block;
    float: left;
    font-size: 1.625em;
    line-height: 1.84615384615385em;
    padding: 1.5rem 0;
  }
  nav {
    background: $black;
    color: $white;
    display: none;
    float: left;
    position: absolute;
    width: 50%;
    z-index: 99;
    .fa-times {
      float: none;
      text-align: center;
    }
    h2 {
      border-top: 1px solid $white;
      font-size: 1.625em;
      letter-spacing: 1px;
      line-height: 1.84615384615385em;
      margin: 0;
      padding: 0.75rem 0;
      text-align: center;
      text-transform: uppercase;
    }

    ul {
      margin: 0;
      padding: 0;
      li {
        font-size: 1.25em;
        line-height: 1.2em;
        list-style-type: none;
        padding: 0 0 1.2em 0.75em;
        input[type="radio"] {
          display: none;
          & + label .fa-circle-o {
            float: right;
            font-size: 1.25rem;
            line-height: 1.2em;
            padding: 0 0.75em 0 0;
            width: 35px;
          }
          & + label .fa-dot-circle-o {
            float: right;
            font-size: 1.25rem;
            line-height: 1.2em;
            padding: 0 0.75em 0 0;
            width: 35px;
          }
          &:checked + label i {
            @extend .fa-dot-circle-o;
          }
        }
      }
    }

  }
  h1 {
    float: left;
    font-size: 1.625em;
    line-height: 1.84615384615385em;
    margin: 0;
    padding: 1.5rem 0;
    text-align: center;
    text-transform: uppercase;
    width: 85%;
  }
}

section {
  div {
    border-right: 1px solid $white;
    border-bottom: 1px solid $white;
    float: left;
    overflow: hidden;
    position: relative;
    width: 33.3333%;
    &:nth-child(3n+3) {
      border-right: none;
    }
    img {
      position: relative;
      right: 30%;
      width: 160%;
    }
    figure {
      display: none;
    }
  }
}
