@media screen and (min-width: 415px) {

  header {
    border-bottom: 1px solid $black;
    &>i {
      width: auto;
    }
    .fa {
      font-size: 2.25em;
      line-height: 1.3333em;
      padding: 1.5rem;
    }
    h1 {
      font-size: 2.25em;
      line-height: 1.3333em;
      text-align: left;
      width: auto;
    }
    nav {
      width: 31.25%;
      ul {
        li {
          font-size: 1.625em;
          line-height: 1.84615384615385em;
          padding-bottom: 1.5rem;
          input[type="checkbox"] {
            & + label .fa-square-o {
              font-size: 1.5em;
              line-height: 1.5em;
              padding: 0 1.25em 0 0;
            }
            & + label .fa-check-square-o {
              font-size: 1.5em;
              line-height: 1.5em;
              padding: 0 1.25em 0 0;

            }
          }
        }
      }
    }
  }

  section {
    margin-top: 3em;
    position: relative;
    div {
      border: none;
      height: auto;
      position: absolute;
      img {
        position: static;
        width: 100%;
      }
    }
  }
}
