@media screen and (min-width: 415px) {

  header {
    border-bottom: 1px solid $black;
    &>i {
      width: auto;
    }
    .fa {
      font-size: 2.15em;
      line-height: 1.43333em;
      padding: 1.5rem;
    }
    h1 {
      font-size: 2.15em;
      line-height: 1.43333em;
      text-align: left;
      width: auto;
    }
    nav {
      width: 50%;
      ul {
        li {
          font-size: 1.75em;
          line-height: 2.3333em;
          padding-bottom: 1.5rem;
          input[type="radio"] {
            & + label .fa-circle-o {
              font-size: 1.75rem;
              line-height: 2.3333em;
              padding: 0 1.5em 0 0;
            }
            & + label .fa-dot-circle-o {
              font-size: 1.75rem;
              line-height: 2.3333em;
              padding: 0 1.5em 0 0;
            }
          }
        }
      }
    }
  }

  section {
    margin-top: 3em;
    div {
      border: none;
      margin-bottom: 3.125%;
      img {
        position: static;
        width: 100%;
      }
    }
    .landscape {
      width: 65.625%;
    }
    .portrait {
      width: 31.25%;
    }
    .last {
      margin-right: 0;
    }
  }
}
