@font-face {
  font-family: "Lato";
  src: url(../fonts/Lato-Regular.ttf);
}

@font-face {
  font-family: "Lato";
  src: url(../fonts/Lato-Italic.ttf);
  font-style: italic;
}

@font-face {
  font-family: "Lato";
  src: url(../fonts/Lato-Bold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: "Lato";
  src: url(../fonts/Lato-BoldItalic.ttf);
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Sarpanch";
  src: url(../fonts/Sarpanch-SemiBold.ttf);
  font-weight: 100;
}

@font-face {
  font-family: "Sarpanch";
  src: url(../fonts/Sarpanch-Bold.ttf);
  font-weight: 500;
}

@font-face {
  font-family: "Sarpanch";
  src: url(../fonts/Sarpanch-Black.ttf);
  font-weight: 900;
}
