$orange: #f6921e;
$blue: #003fa9;
$lt-blue: #1e6ef6;
$dk-grey: #333333;
$lt-grey: #f1f1f3;
$white: #ffffff;

$logo-type: "Sarpanch", sans-serif;
$header-type: "Sarpanch", sans-serif;
$button-type: "Sarpanch", sans-serif;
