@media screen and (min-width: 1281px) {
  section {
    div {
      margin-bottom: (50 / 1600) * 100%;
      margin-right: (50 / 1600) * 100%;
    }
    .landscape {
      width: (500 / 1600) * 100%;
    }
    .portrait {
      width: (225 / 1600) * 100%;
    }
  }
  .lightbox {
    img {
      height: 85%;
      width: auto;
    }
  }
}
