@media screen and (min-width: 769px) {

  header {
    margin: 0 auto 1.5rem;
    h1 {
      font-size: 2.5rem;
      line-height: 1.2em;
      padding: 1.5rem 0;
    }
    div {
      margin: auto;
      max-width: 1600px;
      &>.fa {
        cursor: pointer;
        font-size: 1.25em;
        line-height: 1.2em;
        padding: 0.75rem 0 0.75rem 1.5rem;
      }
      div {
        p {
          font-size: 1.25em;
          line-height: 1.2em;
          .fa {
            line-height: 1.2em;
          }
        }
      }
    }
    nav {
      margin: auto;
      max-width: 1600px;
      ul li {
        font-size: 1.25em;
        line-height: 1.2em;
        padding: 1em 0 1em 0.75rem;
        width: 20%;
        label {
          cursor: pointer;
        }
        input[type="radio"] {
          & + label .fa-circle-o {
            line-height: 1.2em;
            padding: 0 0.75rem 0 0.75rem;

          }
          & + label .fa-check-circle-o {
            line-height: 1.2em;
            padding: 0 0.75rem 0 0.75rem;

          }
        }
      }
    }
  }

  section {
    margin: 10.5em auto 0;
    max-width: 1600px;
    div {
      margin-bottom: (36 / 960) * 100%;
      margin-right: (36 / 960) * 100%;
    }
    .landscape {
      width: (462 / 960) * 100%;
    }
    .portrait {
      width: (213 / 960) * 100%;
    }
  }

  .lightbox {
    img {
      height: 55%;
      width: auto;
    }
    .lightbox-nav {
      i {
        padding-left: 3rem;
        text-align: right;
        width: 25%;
        &:last-of-type {
          padding-right: 3rem;
          text-align: left;
        }
      }
    }
  }

}
