@font-face {
  font-family: "Sans Condensed";
  font-weight: bold;
  src: url("../fonts/OpenSans-CondBold.ttf");
}

@font-face {
  font-family: "Sans Condensed";
  font-weight: normal;
  src: url("../fonts/OpenSans-CondLight.ttf");
}
