body {
  background: $white;
}

header {
  position: fixed; //sticky
  top: 0; //sticky
  width: 100%; //sticky
  z-index: 100; //sticky
  h1 {
    background-color: $white;
    font-size: 1.625em;
    line-height: 1.84615384615385em;
    margin: 0;
    padding: 0.75rem 0;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
  }
  div {
    background-color: $white;
    border-bottom: 1px solid rgba($black, 0.05);
    border-top: 1px solid rgba($black, 0.05);
    height: 3em;
    position: relative;
    &>.fa {
      display: block;
      line-height: 1.5em;
      padding: 0.75rem 0 0.75rem 1rem;
      text-align: left;
      width: 100%;
      position: absolute;
      z-index: 101;
    }
    div {
      p {
        margin: 0;
        text-align: center;
        .fa {
          line-height: 1.5em;
          margin: 0.75rem 1em 0.75rem 0;
        }
      }
    }
  }

  nav {
      background-color: rgba($black, 0.85);
      bottom: 3rem;
      color: $white;
      display: none;
      padding: 0.75em 0;
      width: 100%;
      @extend .clearfix;
      ul {
        margin: 0;
        padding: 0;
        li {
          float: left;
          list-style-type: none;
          padding: 0.5em 0 0.5em 0.75em;
          width: 33.3333%;
          input[type="radio"] {
            display: none;
            & + label .fa-circle-o {
              float: left;
              line-height: 1.5em;
              padding: 0 0.75em 0 0.25em;
            }
            & + label .fa-check-circle-o {
              float: left;
              line-height: 1.5em;
              padding: 0 0.75em 0 0.25em;
            }
            &:checked + label i {
              @extend .fa-check-circle-o;
            }
          }
        }
      }
    }
  }

section {
  margin-top: 7.5em; //sticky
  @extend .clearfix;
  div {
    border-right: 1px solid $white;
    border-bottom: 1px solid $white;
    float: left;
    overflow: hidden;
    position: relative;
    width: 33.3333%;
    &:nth-child(3n+3) {
      border-right: none;
    }
    img {
      cursor: pointer;
      display: block;
      position: relative;
      right: 30%;
      width: 160%;
    }
    figure {
      display: none;
    }
  }
  #loader {
    padding-top: 7.5em;
    width: 100%;
    i {
      color: $black;
      font-size: 3em;
      text-align: center;
      width: 100%;
    }
  }
  .no-js-gallery {
    display: none;
  }
}

.lightbox {
  background-color: rgba($black, 0.96);
  position: fixed;
  height: 100%;
  top: 0;
  width: 100%;
  z-index: 102;
  i {
    color: $white;
    cursor: pointer;
    position: absolute;
    font-size: 2rem;
    line-height: 1.5em;
    padding: 0 0.25em;
    text-align: right;
    top: 0;
    width: 100%;
    z-index: 101;
  }
  img {
    display: block;
    margin: auto;
    width: 75%;
  }
  figure {
    color: $white;
    display: block;
    font-size: 1.25em;
    line-height: 1.2em;
    margin: 1.5em 0 0 0;
    text-align: center;
  }
  .lightbox-nav {
    display: none;
  }
}

.no-js {
  header {
    &>div {
      display: none;
    }
  }
  section {
    margin-top: 4.5rem;
  }
  #loader {
    display: none;
  }
  .no-js-gallery {
    border: none;
    display: block;
    float: none;
    overflow: auto;
    position: static;
    width: auto;
    .row {
      border: none;
      float: none;
      margin-bottom: 1.5rem;
      overflow: auto;
      position: static;
      width: auto;
      @extend .clearfix;
      a {
        display: block;
        float: left;
        padding-right: 0.75rem;
        width: 33.3333%;
        img {
          cursor: auto;
          display: block;
          position: static;
          width: 100%;
        }
        &:last-of-type {
          padding-right: 0;
        }
      }
    }
  }
}
