@media screen and (min-width: 600px) {
  header {
    // nav {
    //   width: ((240 / 768) + (24 / 768)) * 100%;
    // }

    nav ul li {
      padding-right: 2.5em;
      width: 25%;
    }
  }

  .lightbox {
    i {
      padding: 0 1.5em;
    }
    .lightbox-nav {
      display: block;
      padding: 0;
      padding-top: 1.5em;
      height: 4.5em;
      position: absolute;
      bottom: 3rem;
      width: 100%;
      i {
        color: $white;
        float: left;
        font-size: 2em;
        height: 1.5em;
        line-height: 1.3333em;
        padding: 0;
        padding-left: 3rem;
        position: static;
        text-align: left;
        width: 15%;
        &:last-of-type {
          float: right;
          padding: 0;
          padding-right: 3rem;
          text-align: right;
        }
      }
    }
  }

}
